<div style="font-family: BYekan" class="limiter">
    <div
      class="container-login100"
      style="background-image: url('/images/bg-01.jpg')"
    >
      <div class="wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title p-b-41"> بازیابی کلمه عبور </span>
        <form
          action="/users/forget-password"
          method="post"
          class="login100-form validate-form p-b-33 p-t-5"
        >
          <div
            class="wrap-input100 validate-input"
            data-validate="Enter username"
          >
            <input
              style="text-align: right"
              class="input100"
              type="text"
              name="email"
              placeholder="ایمیل"
            />
          </div>
          <div style="text-align:center" class="mt-2 mb-2">
            <button type="submit" class="btn btn-outline-danger ml-2"
              >بازیابی کلمه عبور</button
            >
          </div>
  
      
      
        </form>
      </div>
    </div>
  </div>
  